
<style type="text/css">.nav-item { }

 .nav-link { }

 .dropdown-item { }

 .dropdown-divider { }
</style>
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="notifications">
            <a href="#">
                <i class="glyphicon glyphicon-picture"></i>
                <span class="badge js-notifications-count hide"></span>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @User.Identity.GetUserName()
            </a>
            <ul class="dropdown-menu">
                <li class="divider"></li>
                <li>@Html.ActionLink("Followings", "GetFollowings", "Account")</li>
                <li class="divider"></li>
                <li>@Html.ActionLink("Edit user", "EditUser","Account")</li>
                <li class="divider"></li>
                <li>@Html.ActionLink("Change password", "ChangePassword", "Account")</li>
                <li class="divider"></li>               
            </ul>
        </li>
        <li>
            <a href="javascript:document.getElementById('logoutForm').submit()">LogOut</a>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
